* {
    margin: 0;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 90fr;
    grid-template-areas: "header2" "form-container";
}

.header2 {
    grid-area: header2;
    background-color: #49c6e5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "botaoVoltar titulo .";
    column-gap: 5px;
    justify-items: center;
    align-items: center;
}

.botaoVoltar {
    grid-area: botaoVoltar;
    margin-right: auto;
    margin-left: 30px;
}

.form-container {
    grid-area: form-container;
    background-color: #8bd7d2;
    padding: 1rem;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "lista-itens lista-itens" "label input" "botao botao";
}

.form-container .lista-itens,
.form-container2 .lista-itens {
    grid-area: lista-itens;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.lista-itens .carrinho,
.lista-dados .usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.total-compra,
.total-frete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
    font-weight: bold;
}

.form-container table,
.form-container2 table {
    border-collapse: collapse;
    width: 100%;
}

.form-container .labels {
    grid-area: label;
    /*border: 5px solid black;*/
    text-align: right;
    padding: 1rem;
}

.form-container .labels p {
    font-weight: bold;
    margin-bottom: 25px;
}

.form-container .inputs {
    grid-area: input;
    /*border: 5px solid black;*/
    text-align: left;
    padding: 1rem;
}

.form-container .inputs input,
.form-container .inputs select {
    margin-top: 15px;
    margin-bottom: 7.25px;
    background-color: rgba(255, 255, 255, 0.8);
}

.form-container .inputs select {
    margin-top: 18.25px;
}

.form-container .botao {
    grid-area: botao;
    /*border: 5px solid black;*/
    text-align: center;
    padding: 1rem;
}

.submit {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: tomato;
    text-align: center;
    font-size: 15px;
    width: 350px;
}

.left-menubar2 {
    grid-area: menu2;
    background: #00bd9d;
    padding: 1rem;
}