body{
    margin: 0;
    overflow: hidden;
}

.container{
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "header header"
                         "menu content";
}

.header{
    grid-area: header;
    background-color: #49c6e5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". titulo finalizar";
    column-gap: 5px;
    justify-items: center;
    align-items: center;
}

.titulo{
    grid-area: titulo;
}

.finalizar {
    grid-area: finalizar;
    margin-left: auto;
    margin-right: 30px;
}

.left-menubar{
    grid-area: menu;
    background: #00bd9d;
}

.content{
    grid-area: content;
    background-color: #8bd7d2;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    overflow-y: auto;
}